body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 25px;
  box-sizing: border-box;
}
.topbar {
  background: #161439;
  color: #cfd6ee;
  font-size: 13px;
  width: 100%;
}
.topbar-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 60px;
}

.left-info,
.right-info {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.info-item i {
  color: #9fb0ff;
}

.social-icons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.social-icons a {
  color: #cfd6ee;
  transition: 0.2s;
}

.social-icons a:hover {
  color: #ffffff;
}


.main-header {
  background: #ffffff;
  padding: 20px 0;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  height: 50px;
}

.logo-text h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.logo-text p {
  margin: 0;
  font-size: 12px;
  color: gray;
}


.nav-links {
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: #1f1f1f;
  font-size: 16px;
  font-weight: 500;
}

.nav-item i {
  font-size: 10px;
  margin-left: 5px;
  color: #585858;
}

/* RIGHT SIDE */
.header-right {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: 5%;
}


.search-combined {
  display: flex;
  align-items: center;
  background: white;
  border: 1px solid #dcdcdc;
  border-radius: 40px;
  
  width: 340px; 
  padding: 5px 12px;
  box-sizing: border-box;
}

.search-left {
  display: flex;
  align-items: center;
  gap: 3px; 
  font-weight: 600;
  font-size: 13px;
  color: #111;
}

.cat-icon {
  color: #6a5df5;
  font-size: 18px;
}

.arrow {
  font-size: 12px;
  color: #777;
}

.divider {
  width: 1px;
  height: 22px;
  background: #ccc;
  margin-left: 8px;
}

.search-combined input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  padding-left: 8px;
  color: #666;
}


.search-btn {
  width: 30px;   
  height: 30px;
  border-radius: 50%;
  border: none;
  background: #5c4ce2;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-group {
  display: flex;
  align-items: center;
  gap: 18px;
}

.icon-wrapper {
  position: relative;
  font-size: 20px;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -6px;
  right: -10px;
  background: #ffb700;
  color: #000;
  font-size: 11px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.login-btn {
  padding: 8px 22px;
  background: #ffc220;
  border: none;
  border-radius: 25px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
}
